.recentGamesContainer {
    gap: 1em;
    padding: 1em;
}

.recentGamesTeamImg {
    max-width: 75px;
    max-height: 75px;
}

.recentGamesTeam1,
.recentGamesTeam2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: .5em;
}

.recentGamesTeamName {
    grid-column: 1/ span 4;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.recentGamesTeamImgContainer {
    grid-column: 5/ span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recentGamesTeam1Result,
.recentGamesTeam2Result {
    grid-column: 8/ span 4;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .recentGamesTeamImg {
        max-width: 50px;
        max-height: 50px;
    }
}