.teamInfoContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    background: #35910F;
    padding: .5em;
    position: relative;
}

.teamInfoContainer:first-child {
    background: linear-gradient(90deg, #DAA520, #FFD700);
}

.teamInfoContainer:nth-child(2) {
    background: linear-gradient(90deg, #C0C0C0, #D3D3D3);
}

.teamInfoContainer:nth-child(3) {

    background: linear-gradient(90deg, #CD7F32, #D28C47);
}

.teamPlace {
    width: 0;
    height: 0;
    border-top: 1.5em solid #ECE4B7;
    border-right: 1.5em solid transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.teamPlace>span {
    position: absolute;
    top: -2.2em;
    left: .075em;
    font-weight: bolder;
    font-size: .7em;
}

.teamName {
    display: flex;
    justify-content: flex-start;
    grid-column: 1 / span 3;
    font-weight: bolder;
    word-wrap: break-word;
}

.teamIconContainer {
    grid-column: 4 / span 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.teamIcon {
    height: 60px;

}

.teamPoints {
    grid-column: 6 / span 2;
    font-size: .8em;
}

.teamPoints span {
    font-weight: bolder;
    font-size: 1.8em;
}

.teamGameStatsContainer {
    grid-column: 8 / span 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.teamGameStatsContainer>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: light;
}

.teamGameStatsContainer>div>span {
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .teamIcon {
        max-height: 50px;
    }
}

@media screen and (max-width: 400px) {
    .teamIcon {
        max-height: 25px;
    }
}