@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500&family=Poppins&family=REM:wght@500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,500&family=Poppins&family=REM:wght@500&family=Roboto&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

body {
  margin: 0;
  height: 100vh;
  background: #00051B;
}

:root {
  --amountOfColumns: 2;
}

.App {
  max-width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 100vw;
  position: relative;
}

.header-title {
  position: absolute;
  right: 1em;
  font-size: 4em;
  color: white;
}

.header-title-part-1 {
  font-weight: bolder;
}

.header-title-part-2 {
  font-weight: 200;
}

.alliance-arena-img {
  height: auto;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

.container {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(var(--amountOfColumns), 1fr);
  justify-content: space-around;
  gap: 2em;
  padding: 2em;
}

#games-info {
  color: white;
  background: #383a4da0;
  display: flex;
  flex-direction: column;
  border-radius: 2em;
  padding: 2em 2em;
  gap: 1em;
}

#teams-info>div {
  font-weight: bold;
}

.upcoming-games-title,
.recent-games-title {
  font-size: 2em;
}

@media screen and (max-width: 1800px) {
  .App {
    font-size: .85em;
  }
}

@media screen and (max-width: 1350px) {
  :root {
    --amountOfColumns: 1;
  }
}

@media screen and (max-width: 600px) {
  .App {
    font-size: .75em;
  }
}

@media screen and (max-width: 500px) {
  .App {
    font-size: .65em;
  }

  .upcomingGamesTeamImg {
    max-width: 25px;
    max-height: 25px;
  }
}

@media screen and (max-width: 450px) {
  .App {
    font-size: .55em;
  }
}

@media screen and (max-width: 400px) {
  .header-title {
    font-size: 3em;
  }
}

@media screen and (max-width: 350px) {
  .header-title {
    font-size: 2em;
  }
}