@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500&family=Poppins&family=REM:wght@500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,500&family=Poppins&family=REM:wght@500&family=Roboto&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

body {
  margin: 0;
  height: 100vh;
  background: #00051B;
}

.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

#games-info {
  color: white;
  background: #383a4da0;
  display: flex;
  flex-direction: column;
  border-radius: 2em;
  padding: 2em 2em;
  gap: 1em;
}

.upcoming-games-title,
.recent-games-title {
  font-size: 2em;
}