@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500&family=Poppins&family=REM:wght@500&family=Roboto&display=swap');

body {
    margin: 0;
    height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Nunito Sans";
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E55812;
    /* #fc9f5b #fe7f2d */
    max-width: 100vw;
}

.title {
    padding-left: 1em;
    width: 100%;
    font-size: 4em;
}

.table-container {
    height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
}

.football-img {
    object-fit: cover;
    overflow: hidden;
}

.alliance-arena-img {
    object-fit: cover;
    overflow: hidden;
}

.team-icon {
    max-width: 75px;
    max-height: 75px;
}

.team-name {
    font-weight: bolder;
}

.team-table {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
}

.team-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding: 1em;
}

.team-info:nth-child(2n) {
    background-color: #359C1E;
}

.team-info:nth-child(2n + 1) {
    background-color: #40BA6F;
}

.team-info:nth-child(1) {
    background: linear-gradient(90deg, #daa520, #ffd700);
}

.team-info:nth-child(2) {
    background: linear-gradient(90deg, #c0c0c0, #d3d3d3);
}

.team-info:nth-child(3) {
    background: linear-gradient(90deg, #cd7f32, #d28c47)
}

@media screen and (max-width: 1000px) {
    .title {
        font-size: 2em;
    }
}